<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <button id="start">点击开始</button>

    <script src="/javascripts/common/axios.min.js"></script>    
    <script src="/javascripts/common/jquery-3.4.1.min.js"></script>    
    <script src="/javascripts/index.js"></script>    
  </body>
</html>
